{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <title>Purchase</title>
  <link rel="stylesheet" href="{% static 'css/buynow.css' %}">
</head>
<body>

  <section id="header">
    <div class="container-fluid title-section mb-3">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-5">
          <img class="img-fluid pe-0 mb-0 logo" src="/Images/logo.png">
        </div>
      </div>
    </div>
  </section>

  <section id="order-details">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">

          <div class="col-12 pt-4">

            <div class="accordion mb-5" id="order-details">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    Address
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#order-details">
                  <div class="accordion-body">
                    <div class="d-flex align-items-center position-relative">
                      <h4 class="card-title ps-3">Name_User 1</h4>
                      <div class="position-absolute end-0">
                        <div class="dropdown">
                          <button class="btn p-0 me-3" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
                              <i class="bi bi-three-dots-vertical"></i>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <li><button class="dropdown-item" type="button" data-bs-target="#EditAddress">Change Address</button></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="ms-3">
                      Username1, St. peters street, House No.132, Thrissur Dist., P.O. Random, Pin:586934<br><br>
                      ph.no: 0123456789
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion" id="order-details">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Order Summary
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#order-details">
                  <div class="accordion-body d-flex">
                    <div class="col-2">
                      <img class="img-fluid" src="/Images/mob/ip14.png">
                      <div class="d-flex justify-content-center align-items-center">
                        <button id="decrement" class="btn rounded-circle" style="width: 25px; height: 25px; padding: 0; margin-right: 3px; background-color: rgb(169, 157, 157);" onclick="decrement()">-</button>
                        <input type="text" id="number" class="form-control text-center" style="width: 55px; height: 35px; padding: 0; line-height: 50px;" value="1" readonly>
                        <button class="btn rounded-circle" style="width: 25px; height: 25px; padding: 0; margin-left: 3px; background-color: rgb(169, 157, 157);" onclick="increment()">+</button>
                      </div>
                    </div>
                    <div class="col-7 ps-6">
                      <p class="text-primary brand-name mb-0">Apple iPhone 14 (Blue, 128 GB)</p>
                      <p class="text-secondary seller-name mb-3">Seller:TREASURE HAUL ONLINE</p>
                      <p class="class text-seconadary mb-5"><span class="text-decoration-line-through text-secondary og-price">₹69,900</span> <span class="fw-bold fs-5">₹60,999</span>
                      <span class="text-success">12% off 1 offer applied <i class="bi bi-info-circle-fill"></i></span></p>
                      <div class="d-flex">
                        <div class="mt-2">
                            <a href="#" class="text-decoration-none text-dark"><button class="btn btn-outline-danger choices">REMOVE</button></a>
                        </div>
                        <div>
                          <button class="place-order-button ms-2 mt-2 choices">Place Order</button>
                        </div>
                    </div>
                    </div>
                    <div class="col-3 ps-5">
                      <p class="delivery-details">Delivery by Sun Jan  |<span class="text-decoration-line-through text-secondary">₹40</span><span class="text-success">Free</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion mt-5" id="order-details">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                    Payment
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#order-details">
                  <div class="accordion-body">

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="payment_method" id="credit_card" value="credit_card">
                      <label class="form-check-label" for="credit_card">Credit Card</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="payment_method" id="debit_card" value="debit_card">
                      <label class="form-check-label" for="debit_card">Debit Card</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="payment_method" id="upi" value="upi">
                      <label class="form-check-label" for="upi">UPI</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="payment_method" id="cash_od" value="cash_od">
                      <label class="form-check-label" for="cash_od">Cash on delivery</label>
                    </div>

                    <div id="credit_card_form" class="payment-form d-none">
                      <div class="input-group mb-2">
                        <label for="cc_number" class="input-group-text"><i class="bi bi-credit-card-2-front-fill"></i></label>
                        <input id="cc_number" class="form-control" type="text" inputmode="numeric" placeholder="Enter your card number"  pattern="[0-9]{16}"  minlength="16" maxlength="16" required>
                      </div>
                      <div class="d-flex">
                        <div class="input-group">
                          <label for="valid_cc" class="input-group-text">Valid Thru</label>
                          <select class="form-select" id="valid_cc_month" aria-label="Month" required>
                            <option value="">Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                          </select>
                          <select class="form-select" id="valid_cc_year" aria-label="Year" required>
                            <option value="">Year</option>
                          </select>
                          <input type="hidden" id="valid_cc" name="valid_cc" required>
                        </div>
                        <div class="input-group ms-2">
                          <label for="cvv_cc" class="input-group-text">CVV</label>
                          <input type="password" id="cvv_cc" class="form-control" inputmode="numeric" placeholder="Enter CVV" pattern="[0-9]{3}" maxlength="3" minlength="3" required>
                        </div>
                        <div>
                          <input type="submit" class="btn btn-primary ms-2" value="Confirm Payment">
                        </div>
                      </div>

                    </div>
                    <div id="debit_card_form" class="payment-form d-none">
                      <div class="input-group mb-2">
                        <label for="dc_number" class="input-group-text"><i class="bi bi-credit-card-2-front-fill"></i></label>
                        <input id="dc_number" class="form-control" type="text" inputmode="numeric" placeholder="Enter your card number"  pattern="[0-9]{16}"  minlength="16" maxlength="16" required>
                      </div>
                      <div class="d-flex">
                        <div class="input-group">
                          <label for="valid_dc" class="input-group-text">Valid Thru</label>
                          <select class="form-select" id="valid_dc_month" aria-label="Month" required>
                            <option value="">Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                          </select>
                          <select class="form-select" id="valid_dc_year" aria-label="Year" required>
                            <option value="">Year</option>
                          </select>
                          <input type="hidden" id="valid_dc" name="valid_dc" required>
                        </div>
                        <div class="input-group ms-2">
                          <label for="cvv_dc" class="input-group-text">CVV</label>
                          <input type="password" id="cvv_dc" class="form-control" inputmode="numeric" placeholder="Enter CVV" pattern="[0-9]{3}" maxlength="3" minlength="3" required>
                        </div>
                        <div>
                          <input type="submit" class="btn btn-primary ms-2" value="Confirm Payment">
                        </div>
                      </div>
                    </div>

                    <div id="upi_form" class="payment-form d-none">
                      <div class="d-flex">
                        <div class="input-group mt-2">
                          <label for="upi_id" class="input-group-text">UPI ID</label>
                          <input type="text" class="form-control" placeholder="Enter UPI ID" required>
                          <input type="submit" class="btn btn-outline-primary ms-2 me-2" value="Verify">
                          <input type="submit" class="btn btn-outline-success me-2" value="Payment" disabled>
                        </div>
                      </div>
                    </div>

                    <div id="cash_od_form" class="payment-form d-none">
                      <div class="mt-3">
                          <div class="address-button-div d-flex">
                            <div class="mt-1">
                              <p>Delivary Charges:<span class="text-decoration-line-through ps-2">₹40 </span><span class="text-success ms-1">Free</span></p>
                            </div>
                            <div>
                              <input type="submit" class="btn btn-success ms-2" value="Buy now">
                            </div>
                          </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>

        </div>


        <div class="col-md-4 ps-md-4">
          <div class="card">
            <div class="card-body">
              <div class="price-title text-secondary">
                PRICE DETAILS
              </div>
              <div class="d-flex position-relative mt-3">
                <p>Price (1 item)</p>
                <div class="address-button-div">
                  <p class="position-absolute end-0">₹69,900</p>
                </div>
              </div>
              <div class="d-flex position-relative mt-3">
                <p>Discount</p>
                <div class="address-button-div">
                  <p class="position-absolute end-0 text-success">-₹8,901</p>
                </div>
              </div>
              <div class="d-flex position-relative mt-3">
                <p>Delivary Charges</p>
                <div class="address-button-div">
                  <p class="position-absolute end-0"><span class="text-decoration-line-through">₹40 </span><span class="text-success">Free</span></p>
                </div>
              </div>
              <div class="d-flex position-relative mt-4 price-decoration">
                <p class="price-body fs-4">Total Amount</p>
                <div class="address-button-div">
                  <p class="position-absolute end-0 fs-4 price-body">₹60,999</p>
                </div>
              </div>
              <div class="mt-2">
                <span class="text-success">You'll save ₹8,901 on this order </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  </body>

  <script>
function increment() {
  let number = document.getElementById('number');
  number.value = parseInt(number.value) + 1;
  document.getElementById('decrement').disabled = false;
}

function decrement() {
  let number = document.getElementById('number');
  if (parseInt(number.value) > 1) {
    number.value = parseInt(number.value) - 1;
  }
  if (parseInt(number.value) === 1) {
    document.getElementById('decrement').disabled = true;
  }
}

window.onload = function() {
  if (parseInt(document.getElementById('number').value) === 1) {
    document.getElementById('decrement').disabled = true;
  }
}
const payment_method = document.querySelectorAll('input[name="payment_method"]');
const payment_forms = document.querySelectorAll('.payment-form');

payment_method.forEach(radio => {
  radio.addEventListener('click', function() {
    payment_forms.forEach(form => {
      form.classList.add('d-none');
    });
    const selected_form_id = `#${this.id}_form`;
    const selected_form = document.querySelector(selected_form_id);
    if (selected_form) {
      selected_form.classList.remove('d-none');
    }
  });
});</script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </html>