a{
      text-decoration: none;
    }
    .logo{
      width:650px;
      height:105px;
    }
    .header-div{
      background-color: #39f2ff;
    }
    .profile-icon{
      height:50%;
      width: 5%;
    }
    .dropdown{
      height: 25px;
    }
    .gmail-addition{
      padding: 0px 5px 5px;
    }
    .card-heading{
      font-family: Poppins,sans-serif ;
      color: #575466;
    }
    .card,.card-contents{
      background-color: #F1F1F1;
    }
    .card-body{
      height: 130%;
    }
    .nav-bar-content,.welcome-font,.roboto-font{
      font-family:Roboto,sans-serif;
    }
    .edit-btn{
      width:125%;
    }
    .card-captions{
      color:#18A3AC;
    }